# Carpeta de archivos media (subida de archivos por usuarios)
Proyecto_API/api/media/

# Carpeta de entorno virtual de Python (p. ej., virtualenv, venv, etc.)
/venv/
/env/

# Archivo de configuración local (si se utiliza un archivo separado para el entorno local)
/local_settings.py

# Archivo de registros
/logs/

# Archivos de caché de Django
*.pyc
*.pyo
Proyecto_API/api/__pycache__

# Archivos de migraciones de Django
Proyecto_API/api/migrations/
