# Carpeta de entorno virtual de Python (p. ej., virtualenv, venv, etc.)
/venv/
/env/

# Archivo de configuración local (si se utiliza un archivo separado para el entorno local)
/local_settings.py

# Archivo de registros
/logs/